body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Fondo */
#fondo {
  background-image: url('img1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

/* Contenido principal */
#contenido {
  padding: 30px;
  text-align: center;
  z-index: 1;
  position: relative;
}

h1 {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 90px;
  text-align: center;
}

/* Texto e imagen */
#texto-imagen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#texto-imagen .texto {
  flex: 1;
  font-size: 20px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.8);  
  padding: 20px;  
  border-radius: 10px;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#texto-imagen img {
  max-width: 60%; 
  height: auto;  
  margin-left: 20px;
  border-radius: 10px;  
}

#texto p {
  font-size: 25px;
  text-align: justify;
}

/* Botones centrados debajo */
#botones {
  text-align: center;
  margin-top: 20px;
}

#botones a {
  display: inline-block;
  background-color: #1e3a8a; 
  color: white;              
  padding: 10px 25px;
  border: 2px solid #1e3a8a; 
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

#botones a:hover {
  background-color: #2a4dcb;
  border-color: #2a4dcb;
  transform: scale(1.05);
}
